<div class="container">
  
  <h2>Tantárgyak</h2>
  
  {{#each messages}}
  <div class="alert alert-dismissible alert-success">
      <button type="button" class="close" data-dismiss="alert">×</button>
      {{this}}
  </div>
  {{/each}}  
  
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>Tárgy neve</th>
        <th>Tárgy kódja</th>
        <th>helyek száma</th>
        <th>helyszín</th>
        <th>Oktató</th>
        <th>Módositás</th>
      </tr>
    </thead>
    <tbody>
        {{#each subjects }}
        <tr>
          
            <td>{{{chbox}}}</td>
            <td>{{subject_name}}</td>
            <td>{{subject_code}}</td>
            <td>{{subject_size}}</td>
            <td>{{subject_location}}</td>
            <td>{{subject_teacher}}</td>
            <td>
            {{#if ../user.isTeacher}}
            
              <form style="display: inline" action='/subjects/update/{{id}}'><input type='submit' class='btn btn-warning' value='Módosítás'></form>
              <form style="display: inline" action='/subjects/delete/{{id}}'><input type='submit' class='btn btn-danger' value='Törlés'></form>
            {{else}}
                -
            {{/if}}
            </td>
        </tr>
        {{/each}}
    </tbody>
    </tbody>
  </table>
</div>